.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header h3 {
  color: MediumAquamarine;
}

nav {
  display: flex;
}

nav li {
  display: inline-block;
}
