header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  border-bottom: 1px solid black;
  z-index: 1;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: MediumAquamarine;
  padding-left: 30px;
  border: 1px solid black;
}

.logo img {
  padding-right: 10px;
}

nav {
  padding-right: 40px;
}

nav a {
  padding: 10px;
  color: black;
}
